/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}

.border {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar Styles */
#upper-nav {
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}

.nav-container {
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ham-menu {
  display: none;
}

nav > a > h1 {
  font-weight: 800;
}

nav > a > h1 > span {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menus {
  display: flex;
  gap: 2rem;
  font-weight: 500;
}

nav > button {
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 600;
  color: white;
  gap: 5px;
}

/* Hero Section Styles */
.hero-container {
  height: 760px;
  width: 100%;
  background-image: url("./assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-circle {
  position: absolute;
  left: 41%;
  top: 10%;
}

.hero-mic {
  position: absolute;
  left: 47%;
  top: 20%;
}

.tooltip {
  width: 75px;
  height: 38px;
  border-radius: 1000px;
  background-color: #00ff88;
  color: black;
  padding: 8px 16px;
  font-weight: 600;
  position: absolute;
  left: 56%;
  top: 15%;
}

.hero-texts {
  position: absolute;
  bottom: 15%;
  left: 36%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-texts > h1 {
  font-size: 60px;
  font-weight: 800;
}

.hero-texts > p {
  font-weight: 200;
}

.hero-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.hero-btn1,
.hero-btn2 {
  border-radius: 10000px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-weight: 600;
  color: white;
  gap: 8px;
  padding: 12px 20px;
}

.hero-btn1 {
  background: var(
    --Linear,
    linear-gradient(
      47.64deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    )
  );
}

.hero-btn2 {
  background-color: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
}


/* About Section Styles */
.about-container{
  height: 646px;
  margin-top: 30px;
}

.about-texts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}

.about-texts > h2{
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalize;
}

.about-texts p{
  text-align: center;
  font-weight: 100;
}

.about-card-container{
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}

.about-card-container h2{
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
}

.about-card-container p{
  font-weight: 100;
  text-transform: uppercase;
}

.about-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

/* Choose Section Styles */
.choose-container > h2{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.choose-card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 30px;
  margin-top: 40px;
}

.choose-card{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}

.card-1{
  grid-row: 1 / span 2;
}

.card-2, .card-3{
  grid-column: 2 / span 2;
}

.card-4{
  grid-column: 1 / span 2;
}

.choose-card img{
  width: 60px;
  height: 60px;
}

.choose-card h3{
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.choose-card p{
  font-weight: 100;
}


/* Responsive Designs */
@media only screen and (max-width: 576px) {
  .ham-menu {
    display: inline;
  }

  .nav-menus,
  nav > button {
    display: none;
  }

  .nav-container {
    padding-right: 20px;
    padding-left: 20px;
  }

  /* Banner Section */
  .hero-container {
    height: 470px;
    width: 100%;
  }

  .hero-circle {
    width: 200px;
    height: 200px;
    left: 33%;
    top: 14%;
  }
  
  .hero-mic {
    width: 50px;
    height: 70px;
    left: 46%;
    top: 27%;
  }
  
  .tooltip {
    width: 70px;
    height: 35px;
  }
  
  .hero-texts {
    bottom: 2%;
    left: 4%;
  }

  /* About Section */
  .about-container{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .about-texts > h2{
    font-size: 32px;
  }

  .about-card-container{
    margin-top: 80px;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  
}
